@keyframes focus-in-expand-fwd {
	0% {
		letter-spacing: -0.1em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	10% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 1;
	}
	50% {
		letter-spacing: 0;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}

	100% {
		letter-spacing: 0;
		opacity: 0;
	}
}

@keyframes focus-in-expand-fwd2 {
	0% {
		letter-spacing: -0.1em;
		-webkit-transform: translateZ(-800px);
		transform: translateZ(-800px);
		-webkit-filter: blur(12px);
		filter: blur(12px);
		opacity: 0;
	}
	10% {
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}

	20% {
		opacity: 1;
	}

	30% {
		opacity: 1;
	}
	50% {
		letter-spacing: 0;
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	80% {
		opacity: 1;
	}

	100% {
		letter-spacing: 0;
		opacity: 0;
	}
}
