@import './variables';
.about-me-container {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	position: relative;
}

.social-logo-container {
	margin-top: 5%;
	display: flex;
	justify-content: flex-end;
	margin-right: auto;
	margin-left: 60%;
	padding-bottom: 1.6rem;
}

.child2 {
	font-size: 2em;
	color: #fff;
	margin-right: 1.6rem;
	transition: text-shadow 0.4s ease-in-out;
	&:hover {
		cursor: pointer;
		text-shadow: $box-neon-glow;
	}
}

.lateral-title-container {
	color: $text-yellow-color;
	position: absolute;
	transform: rotate(-90deg);
	bottom: 52%;
	left: -30%;
}
.lateral-title-1 {
	letter-spacing: 0.18rem;
}

.about-me-img-container img {
	width: 23rem;
}
.about-me-img-container {
	position: absolute;
	right: 3rem;
	top: 12rem;
}
.title-container {
	padding: 4rem 0;
	display: flex;
	color: $text-blue-color;
	justify-content: center;
	width: 100%;
	grid-row: 1;
	grid-column: 1/5;
}

.title {
	font-size: 3rem;
}

.description-container {
	color: #fff;
	width: 80%;
	height: 100vh;
	display: flex;
	margin: 0 auto;
	align-items: flex-end;

	font-family: 'Mulish', sans-serif;
	font-size: 1.8rem;
}
