@import './variables';
.hero-container {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100%;
	padding-top: 3rem;
	justify-content: space-around;
}
.hero-img-container img {
	width: 24rem;
}

.hero-name-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	& h1 {
		font-size: 3rem;
		color: #14ffec;
	}
	& h2 {
		font-size: 4rem;
		color: #f6f980;
		letter-spacing: 1.6rem;
		text-shadow: $text-neon-glow;
	}
}
.hero-img-indicator-container img {
	width: 3rem;
	animation: breath 2s ease-in-out infinite;
}

@keyframes breath {
	0% {
		transform: scale(1);
	}
	50% {
		transform: translateY(1rem);
	}
	100% {
		transform: scale(1);
	}
}
.hero-description-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
