$background-color-primary: #0d0227;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
body {
	font-family: 'Poppins', sans-serif;
	background-color: $background-color-primary;
	font-size: 1.6rem;
}
