$text-yellow-color: #f6f980;

.lateral-title-container {
	color: $text-yellow-color;
	position: absolute;
	transform: rotate(-90deg);
	bottom: 52%;
	left: -30%;
}
.lateral-title-1 {
	letter-spacing: 0.18rem;
}
